body {
  margin: 0;
  font-family: Arial, Helvetica, Monospace;
}

.centered {
  text-align: center;
}

.centeredwhite {
  text-align: center;
  color:white;
}

.button {
    font-size: 20px;
    text-align: center;
    color:black;
    background-color:white;
    border-color: green;
  }
  
  .simpletext {
    color:white;
  }
  
  .textbox {
    font-size: 20px;
    color:black;
    background-color:white;
    border-color: green;
  }
  
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #222;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: grey;
}

.topnav a.active {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
  max-height: 500px;
}

.link a {
  float: left;
  color: #white;
}

.link a:link {
  color: green;
  text-decoration: none;
}

.link a:visited {
  text-decoration: none;
  color:green;
}

.link a:hover {
  color: grey;
}

.link a:active {
  text-decoration: none;
}


