body {
  margin: 0;
  font-family: Arial, Helvetica, Monospace;
}

p {
  margin: 10px 20px;
}

.centered {
  text-align: center;
}

.centeredwhite {
  text-align: center;
  color:white;
}

.button {
    font-size: 26px;
    text-align: center;
    color:black;
    background-color:white;
    border-color: green;
  }
  
  .simpletext {
    color:silver;
    font-size: min(max(16px, 4vw), 20px);
  }
  
  .paragraph {
    color:silver;
    
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
  }
  
  .titles {
    color:white;
    font-size: min(max(20px, 4vw), 30px);
  }
  
  .textbox {
    font-size: 20px;
    color:black;
    background-color:white;
    border-color: green;
  }
  
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #222;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: grey;
}

.topnav a.active {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
  max-height: 500px;
}

.link a {
  float: left;
  color: #white;
}

.link a:link {
  color: green;
  text-decoration: none;
}

.link a:visited {
  text-decoration: none;
  color:green;
}

.link a:hover {
  color: grey;
}

.link a:active {
  text-decoration: none;
}









    .container {
      position: relative;
      height: 300px;
      max-height: 60%;
      width: 90%;
      overflow: hidden;
      
      align-items: center;
      justify-content: center;

      
      display: block;
      margin-left: auto;
      margin-right: auto;
      
      
      
    }
    
    .caption {
      height: 600px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      
      
    }

    .image {
      display: block;
      height: 90%;
      
      max-width: 90%;
      max-height: 90%;
      
      object-position: center;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: transform 1s ease-in-out;
      
      position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    }

    .arrow {
      position: absolute;
      top: 50%;
      
      transform: translateY(-50%);
      font-size: 48px;
      color: #fff;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
    }

    .arrow:hover {
      color: green;
    }

    .arrow.left {
      left: 0;
    }

    .arrow.right {
      right: 0;
    }
    
    .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  
  
  /* Slideshow container */
.slideshow-container {
  position: relative;
      height: 400px;
      max-height: 60%;
      width: 90%;
      overflow: hidden;
      
      align-items: center;
      justify-content: center;

      
      display: block;
      margin-left: auto;
      margin-right: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
